body {
    background-color: #FCF7F8;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2, h1 {
    font-family: "Roboto slab", Roboto;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #aabd8ce0;
    display: grid;
    grid-template-columns: 150px auto;
}

.logo{
    width: 80px;
    margin: auto;
    border-radius: 50%;
}
#logo_link {
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    background-color: #b2c49500;
    border: none;
}

nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #3066BE;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #90C2E7;
    color: #141414;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
    margin-bottom: 0;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #3066BE;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 300px;
    background-color: #f5deb3d6;
    width: 45%;
    justify-self: center;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%;
}

#home-grid {
    display: grid;
    grid-template-columns: 20px 1fr 1fr 1fr 1fr 1fr 20px;
}

#backgroundTop {
    background-color: #3066BE;
    height: 325px;
    grid-column: 1/8;
    grid-row: 1/2;
}
#backgroundMiddle {
    background-color: #3066BE;
    height: 425px;
    grid-column: 1/8;
    grid-row: 3/9;
}
#backgroundBottom {
    background-color: #3066BE;
    height: 225px;
    grid-column: 1/8;
    grid-row: 11/12;
}

#background {
    background-color: #3066BE;
    height: 225px;
    grid-column: 1/8;
    grid-row: 13/15;
}

.spacer1{
    height: 3em;
    grid-row: 2/3;
}
.spacer2{
    height: 3em;
    grid-row: 9/10;
}

.spacer3{
    height: 3em;
    grid-row: 12/13;
}

.msgTop{
    grid-column: 2/7;
    grid-row: 1/2;
    text-align: center;
}
.msgMiddle{
    grid-column: 3/7;
    grid-row: 5/8;
    height:auto;
    background-color: #f5deb3d6;
    text-align: center;
    
}
.msgBottom{
    grid-column: 2/7;
    grid-row: 11/12;
    height:auto;
    text-align: center;
}
.msgBottom h2 p,.msgMiddle h2 p,.msgTop h2, p{
    text-align: center;
    font-size: 1em;
}

.msg {
    grid-column: 2/7;
    grid-row: 13/15;
    height:auto;
    text-align: center;
}

#filamenImg{
    grid-column: 2/6;
    grid-row: 4/7;
    width: 40%;
}

footer {
    background-color: #AABD8C;
    color: #FCF7F8;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: #FCF7F8;
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
footer a:hover {
    color: #FCF7F8;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}
  
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#content {
    transition: margin-left .5s;
}
  
 /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


@media screen and (max-width: 900px) {
    #hero, #home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin: auto;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    #backgroundTop {
        display: none;
    }
    #backgroundMiddle {
        display: none;
    }
    #backgroundBottom {
        display: none;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
    #filamenImg{
        width: 100%;
    }
    .msgBottom{
        text-align: center;
    }
    .msgMiddle{
        text-align: center;
    }
    .msgTop{
        text-align: center;
    }
    .msg{
        text-align: center;
    }
    .sidenav {
        padding-top: 10px;
    }
    .sidenav a {
        font-size: 20px;
    }
}